.placeOrderHead {
    padding-left: 2.5rem;
    margin: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #6B7280;
}

.deliveryText {
    padding-left: 2.5rem;
    margin: 1.25rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.itemsCount {
    padding-left: 2.5rem;
    margin: 1.25rem;
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #6B7280;
}