.container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.sideBarItem {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
    align-items: center;
    border-top-width: 2px;
    cursor: pointer;
}

.selectedSideBarItem {
    background-color: #D1FAE5;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: green;
}

.sideBarItemImage {
    object-fit: cover;
    width: 50px;
}

.sideBarItemName {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: none;

}