.summaryRow {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex: 1 1 0%;
    justify-content: space-between;
}
.boldText {
    font-weight: bold;
}
.smallText {
    font-weight: 300;
}
